<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration Numbers</title>
</head>

<body>
	<div class="container">

		<h1>Registration numbers</h1>
		<form action="/reg_numbers" method="POST">
	  <u> <h2>Example : CJ 2351 , CY 231-212 or CL 21490</h2></u>
			<input type="text" class="regNumberEntered" placeholder="enter a registration number" name="registration">
			<input type="submit" class="addRegNumber btn blue" value="Add registration">

			<div class="filter">
				<strong>Filter by town</strong>
				<select id="townSelect" name="town">
					<option value="all">Show All</option>
					<option value="3">Bellville</option>
					<option value="2">Paarl</option>
					<option value="1">Cape Town</option>
				</select>

				<input type="submit" value="Filter" class="blue">
				<div class="entry">
					<p class="invalid">{{messages.invalid}}</p>
					<p class="duplicate">{{messages.dup}}</p>
					<p class="success">{{messages.success}}</p>
				</div>

				<ul>
					{{#each reg}}
					<li class="regNumber">{{this.reg}}</li>
					{{/each}}
				</ul>

		</form>
	</div>
	<script>
		setTimeout(function () {
			document.querySelector(".entry").innerHTML = "";
		}, 5000);
	</script>
</body>

</html>