<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration Numbers</title>
</head>

<body>
	<div class="container">

		<h1>Registration numbers</h1>
		<form action="/reg_numbers" method="POST">
			<div class="message">

			</div>


			<input type="text" class="regNumberEntered" placeholder="enter a registration number" name="registration">
			<input type="submit" class="addRegNumber btn blue" value="Add reg number">

			<div class="filter">
				<strong>Filter by town</strong>
				<select id="townSelect">
					<option value="all">Show All</option>
					<option value="3">Bellville</option>
					<option value="2">Paarl</option>
					<option value="1">Cape Town</option>

				</select>

				<ul> 
					{{#each reg}}
		<li class="regNumber">{{this.reg}}</li>
		{{/each}}
		</ul>
		
		</form>
	</div>
	{{!-- <!-- <i>Reg numbers to be added here...</i> -->
<a href="/reg_numbers/{{this.regNumber}}">{{this.regNumber}}</a> --}}
	{{!-- {{reg}} --}}
</body>

</html>